@import "tailwindcss";

@font-face {
  font-family: "Inconsolata";
  src: url("fonts/Inconsolata-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900; /* Variable range */
  font-stretch: 50% 200%; /* Optional, if using wdth axis */
  font-style: normal;
}

body {
  font-family: "Inconsolata", monospace;
}
